@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  margin: auto;
  text-align: center;
  width: 100%;
  max-width: 1000px;
  background-color:rgb(239, 243, 255);
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 7vh;
  background-color: rgb(70, 84, 88);
  color:rgb(255, 255, 255);
}

nav > ul {
  width:40%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

nav > ul > li {
  width: 100%;
  height: 100%;
}

nav > ul > li:hover {
  background-color: rgb(105, 127, 133);
  cursor: pointer;
}

a {
  color: white;
  text-decoration: none;
}

input[type=text], input[type=email], input[type=password] {
  font-family: 'Montserrat', sans-serif;
  padding: 0.3em 0.7em;
  border-radius: 0.7em;
}

button {
  padding: 0.5em 3em;
  border-radius: 10px;
  width: fit-content;
  border: none;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 45%), 0 2px 6px 0 rgb(0 0 0 / 45%);
  margin:1em;
}

button:hover {
  cursor: pointer;
  background-color: rgb(224, 224, 224);
}

form {
  background-color: rgb(206, 219, 255);
  padding: 2em;
  border-radius: 15px;
  margin: 2em auto;
  text-align: left;
  display: flex;
  flex-direction: column;
  width: fit-content;
}

form > label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2em;
}
form > label > input {
  margin-left: 2em;
  color: rgb(0,0,0)
}

form > button {
  align-self: center;
  background-color: rgb(255, 115, 0);
  color: rgb(255,255,255);
}

form > button:hover {
  cursor: pointer;
  background-color: rgb(255, 136, 0);
}

table {
  border-radius: 8px;
  margin: 1.5em 0;
}

td,th {
  padding: 1em;
  overflow-x:auto;
}

tr:nth-child(odd) {
  background-color: rgb(239, 241, 255);
}
tr:first-child {
  border-radius: 8px 8px 0 0;
}
th:first-child {
  border-radius: 8px 0 0 0;
}
th:last-child {
  border-radius: 0 8px 0 0;
}
tr:last-child > td:first-child {
  border-radius: 0 0 0 8px;
}
tr:last-child > td:last-child {
  border-radius: 0 0 8px 0;
}